
.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 3px solid black;
}

nav{
  display: flex;
  gap: 20px;
}
.home{
  height:80vh;
  border: 5px solid red;
}

.active{
  font-weight: 900;
  color: black;
}

.host-navbar{
  border:  1px solid blue;
  width: 50%;
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
}

.column{
  display: flex;
  flex-direction: column;
}
